

@media(max-width: 900px) {
	#logo {
	margin: 0;
	margin-left: 10px;
	
	}
	.headerNav {
	display: none;
	}
	.hiddenIco a:nth-of-type(3) {
	display: block;
	}
}
@media(max-width: 940px) {

}

.wrap {
	width: 100%;
}
.imgList {
	margin-top: 90px;
}
.work {
	margin-top: 0;
}
.footerWrap {
	width: 100%;
	padding:0 40px 24px;
}
.footerList{
	padding: 27px 0 0 0;
}
.footerGroup {
	width: 32%;
}

.copyright strong {
	float: none;
	display: block;
	padding-bottom: 12px;
	width: auto;
}
.copyright .footerNav {
	float: none;
	display: block;
	text-align: left;
	width: 80%;
}
.copyright .footerNav a,
.copyright .footerNav span {
	margin: 0 24px 0 0;
}
